
.u-center-text {
    text-align: center;
}

.u-margin-bottom-80 {
    margin-bottom: 8rem;

    @include respond(tab-port) {
        margin-bottom: 3rem;
    }
}

.u-margin-bottom-small { margin-bottom: 1.5rem;}